include LICENSE
include README.rst
include requirements/testing.txt
include requirements/installation.txt
graft docs
graft tests

global-exclude __pycache__
global-exclude *.pyc
global-exclude *.swp
global-exclude examples/*
