include LICENSE
include README.rst
include requires/testing.txt
include requires/installation.txt
graft docs
graft tests

global-exclude __pycache__
global-exclude *.pyc
global-exclude *.swp
global-exclude examples/*
